* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 12fr;
  grid-template-rows: 40px 40px 500px;
  grid-template-areas: 'logo header' 'nav section' 'nav main';
  gap: 10px;
}

body {
  padding: 10px 40px 20px 10px;
  background-color: #f2f2f2;
}

.logo {
  grid-area: logo;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}

.cabecalho {
  padding-left: 20px;
  grid-area: header;
  display: flex;
  justify-content: right;
  align-items: center;
  background: #4e4c59;
  color: #f2f2f2;
}

.menutopo ul li {
  display: inline;
  padding: 0 15px;
  font-size: 10pt;
}

.menulateral {
  grid-area: nav;
  display: block;
  height: 100%;
  font-size: 16px;
  transition: all 0.5s ease;
}

.menulateral ul a {
  color: #4e4c59;
  display: block;
  line-height: 45px;
  transition: 0.4s;
  padding-left: 20px;
}
.menulateral ul a:hover {
  background-color: #00b074;
  border-radius: 5px;

  color: #f2f2f2;
}

.menulateral ul a i {
  margin-right: 16px;
}

.título {
  grid-area: section;
  background-color: white;
  color: #4e4c59;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 14pt;
}

/* distancia entre título e ícone */
.título i {
  margin-right: 10px;
}

.pesquisa {
  background: white;
  padding: 20px 20px 0;
  float: right;
  grid-area: main;
  display: grid;
  grid-template-rows: 190px 190px 200px;
  grid-template-areas: 'basic' 'endereco' 'button';
}

fieldset {
  border: none;
  padding: 0px 0px 30px;
}

fieldset legend {
  padding: 0px 0px 10px;
  font-size: 12pt;
  font-weight: bold;
  color: red;
}

.basic {
  grid-area: basic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #4e4c59;
  font-size: 11pt;
}

.inputuser {
  border: 1px solid #00b074;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 20px;
  height: 40px;
  width: 200px;
}

.inputuser2 {
  border: 1px solid #00b074;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 20px;
  height: 40px;
  width: 350px;
}

#situacao {
  width: 150px;
}

#tipo {
  width: 250px;
}

#funcionamento {
  width: 550px;
}

#referencia {
  width: 300px;
}

.endereco {
  grid-area: endereco;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #4e4c59;
  font-size: 11pt;
}

.button {
  grid-area: button;
  flex-wrap: wrap;
  justify-content: space-between;
}

#salvar {
  border: 1px solid #00b074;
  background-color: #00b074;
  color: white;
  font-size: medium;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border-radius: 60px;
  cursor: pointer;
}

#salvar:active {
  background-color: #84bdaa;
}

#editar {
  margin-left: 20px;
  border: 1px solid #00b074;
  background-color: #00b074;
  color: white;
  font-size: medium;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border-radius: 60px;
  cursor: pointer;
}

#editar:active {
  background-color: #84bdaa;
}

#excluir {
  margin-left: 20px;
  border: 1px solid #00b074;
  background-color: #00b074;
  color: white;
  font-size: medium;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border-radius: 60px;
  cursor: pointer;
}

#excluir:active {
  background-color: #84bdaa;
}
